body { padding-top: 70px; 
        padding-left: 5%;
        padding-right: 5%;
        background-color: azure;
      
    }

.navbar{
    background-color: aliceblue;
}


#map {
     
    height: 400px; 
}

.videoPlayer{
    width: 223px;
}

#videoTitle{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}

.videoHover:hover{
    box-shadow: 10px 10px 50px blue;
}

#academics{
}

#sports{
}

#finearts{
}

.videoSmallPreview{
    width: 100%;
}

.sectionPicture{
    max-width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.center{
    align-content: center;
    text-align: center;
}

/*SPORTS PAGE*/
#headingSport{
    text-align: center;
    font-size: 200%;
}
.sportRow{
    text-align: center;
    height: 80px;
    border-bottom: 1px solid black;
}
.sportRow:hover{
    box-shadow: 0px 0px 37px 3px rgba(0,0,0,1);
}
.boys{
    background-color: #0194FE;
    height: 100%;
    verticle-align:center;
    line-height: 80px;
}
.girls{
    background-color: #FD3EAC;
    height: 100%;
    verticle-align:center;
    line-height: 80px;
}
.sportCheck{
    font-size: 150%;
}
#sportIcon{
    height: 50px;
}
.sportInfo{
    height: 100px;
}
.sportSeason{
    font-size: 30px;
}
.sportName{
    height: inherit;
    vertical-align: middle;
    line-height: 100%;
    font-weight: bold;
}