body { padding-top: 70px; 
        padding-left: 5%;
        padding-right: 5%;
    background-color: lightblue;
    }

#map {
     
    height: 400px; 
}

.videoPlayer{
    width: 223px;
}

#videoTitle{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}

.videoHover:hover{
    box-shadow: 10px 10px 50px blue;
}

#academics{
}

#sports{
}

#finearts{
}

.videoSmallPreview{
    width: 100%;
}

.sectionPicture{
    max-width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.center{
    align-content: center;
    text-align: center;
}